*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(95, 123, 148);
}

.whiteBox {
    background-color: white;
    width: 250px;
    height: auto;
    margin-top: 40%;
    padding: 5px;
}



.column, .column2, .column3 {
    display: inline-block;
    padding-right: 15px;
}



