*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(95, 123, 148);
}